.ab__banner {
  width: 85%;
  margin: 0 auto;
  background-color: pink;
  height: 30vw;
  min-height: 140px;
  position: relative;
}
.ab__banner img {
  width: 100%;
  height: 100%;
  z-index: -1;
}
.ab__banner span {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: black;
  font-size: 1.2vw;
  font-weight: 700;
  transition: 1s;
}
.ab__banner:hover span {
  left: 2rem;
}
.ab__body {
  width: 85%;
  margin: 2rem auto;
}
.ab__content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.split__container {
  background-color: rgb(255, 255, 255);
  width: 50%;
  padding: 0.8rem;
  min-width: 400px;
}
.split__container img {
  width: 100%;
  height: 20vw;
  /* min-width: 300px; */
  min-height: 300px;
}
.ab_title {
  text-transform: uppercase;
}
.split__container ul {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.split__container li {
  list-style-type: none;
}

@media screen and (max-width: 1024px) {
  .ab__banner span {
    font-size: 20px;
  }
}
@media screen and (max-width: 941px) {
  .split__container {
    width: 100%;
    min-width: 270px;
  }
  .split__container img {
    width: 100%;
  }
}
