/* .job_lst span {
  font-weight: 600;
  font-size: 18px;
}
.cv {
  text-transform: uppercase;
} */
.job_title {
  display: flex;
  /* background-color: red; */
  justify-content: center;
  gap: 1rem;
}
.tap_box {
  border: 1px solid black;
  padding: 1rem;
  width: 10vw;
  min-width: 180px;
  text-align: center;
}
