.__foot_container {
  background-color: #1a1347;
  color: white;
}
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #1a1347;
  color: #ffffff;
  padding: 2vw;
  gap: 1vw;
}
.title {
  width: 18vw;
  height: 5vw;
  min-height: 100px;
  /* background-color: #ffffff; */
  display: flex;
  min-width: 220px;
  align-items: center;
  justify-content: center;
}
.title img {
  width: 40%;
  min-width: 120px;
  height: 100%;
}
.footer_content {
  display: flex;
  flex-direction: column;
  gap: 1.2vw;
  min-width: 220px;
  align-items: center;
}
.media_link {
  display: flex;
  gap: 1vw;
}
.media_link a {
  background-color: transparent;
  border: 1px solid #e6b269;
  border-radius: 50%;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright_content {
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
}
.link_ {
  display: flex;
  flex-direction: column;
  gap: 0.8vw;
}
.link_ a {
  display: flex;
  width: 100%;
  justify-content: stretch;
  align-items: first baseline;
  gap: 0.5em;
}
._contact_address {
  display: flex;
  flex-flow: column;
  gap: 1vw;
}
@media screen and (max-width: 768px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    min-width: 220px;
    align-items: center;
    justify-content: center;
  }
  .footer_content:nth-child(2) {
    display: none;
  }
}
