.banner {
  width: 100%;
  height: 100vh;
  position: relative;
  color: white;
  top: 0;
  background-color: #847bc9;
}
.search_section {
  margin: 2rem auto;
  width: 90%;
}
.banner_content {
  display: flex;
  justify-content: center;
  gap: 2vw;
  flex-flow: column;
  width: 80%;
  z-index: 1;
  height: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  top: 0;
}
.content_title {
  width: 30%;
}
.content_title h2 {
  line-height: 1.5;
}
.banner img {
  width: 100%;
  height: 100%;
  filter: brightness(40%);
}
.banner_img {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.banner_btn button {
  border: none;
  padding: 0.6rem 2rem;
  font-weight: 600;
}
.banner_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner_img_slide_content {
  height: 8vw;
  width: 320px;
  min-height: 150px;
}
.banner_img_slide_content img {
  width: 100%;
  height: 100%;
  filter: brightness(100%);
}

.interior_title_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.interior_title_content button {
  color: white;
  border: none;
  padding: 0.6rem 2rem;
  font-weight: 600;
  background-color: black;
}
.interior_title {
  width: 90%;
  margin: 2rem auto;
}
.selection_opt select {
  width: 20vw;
  min-width: 200px;
  border: none;
  padding: 0.5vw 0;
  /* background-color: #e6b269; */
  border: 1px solid #1e136d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selection_opt select:not(:checked) {
  color: #1e136d;
}
.selection_opt select option {
  border-radius: 50%;
  background-color: #1e136d;
  color: white;
  display: flex;
  justify-content: center;
}
.selection_opt {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  flex-wrap: wrap;
}
.interior_section {
  /* height: 95vh; */
}
.accomplistment {
  /* background-color: rgba(0, 0, 0, 0.71); */
  /* color: white; */
  margin-bottom: 3rem;
}
.designers_and__architects {
  display: flex;
  margin-left: 5rem;
}
.accomplistment button {
  color: black;
  border: none;
  padding: 0.6rem 2rem;
  font-weight: 600;
  background-color: white;
}
.designers_and__architects {
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
}
._designer_architect_container {
  /* background-color: aqua; */
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  /* background-color: rgb(189, 170, 170); */
  gap: 2rem;
}
._designer__details_content_g1 {
  /* background-color: royalblue; */
  display: flex;
  gap: 1.2rem;
  align-items: center;
  width: 40%;
}
._designer__details_content_g2 {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  width: 80%;
  align-items: center;
}
._designer__details_content_g2::-webkit-scrollbar {
  display: none;
}
._accomplished__project {
  width: 300px;
  min-width: 330px;
  height: 10vw;
  min-height: 180px;
  /* background-color: black; */
}
._accomplished__project img {
  width: 100%;
  height: 100%;
}
._designer__details_content {
  display: flex;
}
._person_details {
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 0.8rem;
}
._img__circle_avatar {
  width: 8vw;
  height: 8vw;
  min-height: 80px;
  min-width: 80px;
  /* background-color: palevioletred; */
  border-radius: 50%;
}
._img__circle_avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.interior_design_sample_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 90%;
  margin: auto;
  margin-bottom: 2rem;
}

.interior__design_card {
  min-width: 280px;
  height: 20vw;
  min-height: 300px;
  transition: all 0.4s;
  border-radius: 15px;
  position: relative;
}
.popular_place {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.603);
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 25px;
  color: aliceblue;
  gap: 0.5vw;
  border-radius: 15px;
}
.member__pro_status {
  position: absolute;
  top: 0;
  margin: 0.5rem;
  background-color: #1e136d;
  padding: 0.3rem;
  color: aliceblue;
  border-radius: 0.3rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.interior__design_card img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.interior__design_card:hover {
  transform: translateY(-2rem);
}

._home__blog {
  margin: 2.5rem 0;
  z-index: 1000;
}

._home_blog__container {
  display: grid;
  gap: 2rem;
  width: 90%;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
._home_blog__card {
  min-width: 300px;
  /* background-color: blueviolet; */
  transition: all 0.5s;
  border-radius: 10px;
  box-shadow: 0px 43px 24px 0px rgba(0, 0, 0, 0.22);
}
._home_blog__card:hover {
  transform: translateY(-2px);
}
._home_blog__card:hover ._home_card_image img {
  border-radius: 1rem 0 2rem 0;
}
._home_card_image {
  /* background-color: rosybrown; */
  height: 15vw;
  width: 100%;
  min-height: 280px;
  position: relative;
  font-size: 18px;
  font-weight: 500;
}

._home_location_dot {
  width: 20px;
  color: #1e136d;
}
._home_card_location {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  top: 0;
  position: absolute;
  margin: 1rem;
  background-color: white;
  color: #1e136d;
  border-radius: 0.8rem;
  width: fit-content;
  padding: 0.4rem 1.2rem;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.59);
}
.btn_search {
  background-color: #1e136d;
  color: white;
}
._home_card_location span {
  font-size: 16px;
}
._home_card_image img {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
._home_card_btn {
  position: absolute;
  margin: 0.5rem;
  bottom: 0;
  right: 0;
  background-color: white;
  border-radius: 50%;
  padding: 0.8rem 1rem;
  opacity: 1;
  transition: opacity 0.5s ease 0s;
}
._home_card_btn:hover {
  opacity: 0.6;
}

._home_card_details {
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
}
._home_card__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
._home_card_arrow_icon {
  width: 18px;
}
._home_card__title h6 {
  font-weight: 700;
  font-size: 1.2rem;
}
._home_card__title p {
  position: relative;
  top: 0.3rem;
}
._home_card_sqrft {
  align-self: flex-end;
}

.banner_img_slide_content {
  animation: banner_img_slide_content 0.5s ease-out 0s 1 normal forwards;
}

.find_dream {
  display: flex;
  flex-flow: column;
  gap: 1vw;
  align-items: center;
}

.last__project_container {
  margin: 0 auto;
  width: 90%;
}
@keyframes banner_img_slide_content {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes interior__design_card {
  0% {
    transform: scaleY(0.4);
    transform-origin: 0% 100%;
  }

  100% {
    transform: scaleY(1);
    transform-origin: 0% 100%;
  }
}
@media screen and (max-width: 1440px) {
  ._home_blog__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 1075px) {
  .interior_design_sample_container {
    grid-template-columns: repeat(2, 1fr);
  }
  .designers_and__architects {
    margin-left: 1rem;
  }
  ._home_blog__container {
    grid-template-columns: repeat(2, 1fr);
  }
  ._home_blog__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1075px) {
  .content_title {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .banner {
    height: 80vw;
    min-height: 400px;
  }
  .banner_btn {
    display: none;
  }
  ._person_details {
    align-items: center;
    text-align: center;
  }
  .interior_design_sample_container {
    display: flex;
    overflow-x: scroll;
  }
  .interior__design_card:hover {
    transform: translateY(0rem);
  }
  ._home_blog__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  ._home_blog__card {
    width: 300px;
  }
  ._designer__details_content_g1 {
    display: flex;
    justify-content: center;
    width: 80%;
  }
  ._designer_architect_container {
    flex-wrap: wrap;
  }
  ._home_blog__container {
    display: flex;
    flex-wrap: wrap;
  }
  ._home_blog__card:hover {
    transform: translateY(0px);
  }
  ._home_blog__card:hover ._home_card_image img {
    border-radius: 0;
  }
}
@media screen and (max-width: 768px) {
  .selection_opt select {
    width: 100%;
  }
}

@media screen and (max-width: 580px) {
  .banner_content {
    margin: 3rem;
  }
}
@media screen and (max-width: 425px) {
  .banner_content p {
    display: none;
  }
}
