/* .layout_main {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  gap: 3rem;
  margin-bottom: 3rem;
  min-width: 320px;
} */
.social_media_link_ {
  background-color: aliceblue;
  position: absolute;
  min-width: 40px;
  max-width: 100px;
  top: 20%;
  z-index: 1000;
}
