._our_team__container {
  animation: _our_team__container 1s ease 0s 1 normal forwards;
}
@keyframes _our_team__container {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.__our_team__manager {
  width: 100%;
  border-bottom: 1px solid gold;
  margin: 2rem 0;
}
._our__team_manager {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 0 2rem 0;
  gap: 2rem;
  padding: 3rem 0;
  /* border-bottom: 2px solid #5347a7; */
  /* background-color: #e6b269; */
}
._team_avatar {
  width: 10vw;
  height: 10vw;
  min-width: 110px;
  min-height: 110px;
  border-radius: 50%;
  border: 1px solid #191345;
}
._team_avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
._our_team__manager_container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
._manager__card {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0.8rem;
  position: relative;
}
._team_contact_social_media {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.social_media_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: absolute;
  bottom: -1rem;
}
.media_avatar {
  background-color: black;
  width: 3vw;
  height: 3vw;
  min-height: 50px;
  min-width: 50px;
  border-radius: 50%;
  border: 2px solid gainsboro;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
}
.media_avatar img {
  width: 100%;
  height: 100%;
}
._manager__description {
  width: 70%;
  margin: 0 auto;
  min-width: 300px;
}
.our__team_member {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  /* background-color: aquamarine; */
}
._team_member_card_container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 3vw 0;
}
._team_member_card {
  /* padding: 1rem; */
  box-shadow: 0px 10px 21px 0px rgba(0, 0, 0, 0.27);
  /* box-shadow: 0px 5px 14px 1px #1e136d; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 16vw;
  align-items: center;
  overflow: hidden;
  position: relative;
  min-width: 280px;
  transition: all 0.5s;
  max-height: 300px;
}

._team_member_card img {
  width: 100%;
  height: 100%;
  max-height: 270px;
}
._team_member_card:hover ._team_member_card_img {
  filter: blur(2px);
}
._team_member_card:hover ._team_details_card {
  transform: translateY(-30%);
}
._team_member_card:hover ._team_member_arrow {
  display: none;
}
._team_member_card_img {
  /* background-color: aqua; */
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  border: #191345 solid 1px;
  min-height: 280px;
  max-height: 300px;
  min-width: 90px;
}
._team_member_card_img img {
  height: 100%;
  width: 100%;
}
._team_member_media {
  display: flex;
  justify-content: center;
  gap: 0.8vw;
  top: -1.2rem;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}
._team_details_card {
  position: absolute;
  bottom: -2rem;
  color: white;
  background-color: #191345;
  border: 1px solid #e6b269;
  width: 80%;
  padding: 0.5vw 1.5vw;
  border-radius: 15px;
  transition: all 0.5s;
  display: flex;
  flex-flow: column;
  align-items: center;
  transform: translateY(100%);
}
.media_avatar1 {
  width: 2vw;
  height: 2vw;
  min-height: 35px;
  min-width: 35px;
  background-color: #191345;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.3rem;
  border: 1px solid #e6b269;
}
.media_avatar1 img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}
._team__pos {
  margin-top: 2rem;
}
._team__pos a {
  color: #e6b269;
  text-decoration: none;
}
._team_member_arrow {
  position: absolute;
  width: 25px;
  right: 0;
  bottom: 0;
  height: 20px;
  margin: 1rem;
}
@media screen and (max-width: 768px) {
  .our__team_member {
    margin: 2rem 0;
  }
  ._team_member_card {
    overflow: visible;
    margin: 1.2rem 0;
  }

  ._team_details_card {
    padding: 0.3rem;
    bottom: -3rem;
    transform: translateY(0);
  }
  ._team_details_card h2 {
    font-size: 10px;
  }
  ._our_team__container {
    animation: none;
  }
}
