.container {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  justify-content: space-between;
}
.innerContainer_img {
  flex: 0 0 41vw;
  min-width: 300px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 2vw;
}
.innerContainer_text {
  flex: 0 0 41vw;
  min-width: 300px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 2vw;
  padding: 1vw;
}
.innerContainer_img img {
  width: 100%;
  height: 25vw;
  min-height: 300px;
}
@media screen and (max-width: 705px) {
  .container {
    justify-content: space-evenly;
  }
  .innerContainer_img {
    padding: 0.5rem;
    flex: 0 0 80%;
  }
  .innerContainer_text {
    flex: 0 0 80%;
  }
}
