.banner {
  /* background-color: palevioletred; */
  height: 40vw;
  position: relative;
  margin: 0 0 5vw 0;
}
.banner img {
  width: 100%;
  height: 100%;
  filter: brightness(40%);
}
.banner_title {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vw;
  width: 100%;
  color: white;
}
.banner_title span {
  font-size: 4vw;
}
.search_container {
  /* background-color: green; */
  width: 100%;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.tab_pag {
  display: flex;
}
.tap_pag_box {
  background-color: #1e136d;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.search_filter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.search_box {
  background-color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 15vw;
  height: 6vw;
  min-height: 110px;
  text-align: center;
  min-width: 220px;
  box-shadow: 0px 6px 14px 1px rgba(0, 0, 0, 0.25);
  /* min-height: 100px; */
}
.search_box span {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
}
.search_box .prpty__dropdown {
  display: flex;
  align-items: center;
  color: #bdbdbd;
  position: relative;
  width: 100%;
}
.prpty__dropdown p {
  display: flex;
  align-items: center;
  color: #bdbdbd;
  position: relative;
  width: 100%;
  /* background-color: red; */

  justify-content: center;
}
.dropdown_clicked {
  position: absolute;
  background-color: #ffffff;
  list-style-type: none;
  top: 1.8rem;
  transition: all 0.3s;
  width: 100%;
  height: fit-content;
  opacity: 0;
  z-index: -1;
}
.dropdown_clicked_location::-webkit-scrollbar {
  display: none;
}
.dropdown_clicked_location {
  position: absolute;
  background-color: #ffffff;
  list-style-type: none;
  top: 1.8rem;
  transition: all 0.3s;
  width: 300px;
  height: 10vw;
  min-height: 220px;
  opacity: 0;
  z-index: -1;
  overflow-y: scroll;
}
.dropdown_val_selected {
  background-color: #e6b269;
  color: #1e136d;
  margin: 0.3rem;
}
.active {
  opacity: 1;
  z-index: 1000;
}
.search_box:last-child {
  background-color: #1e136d;
  color: white;
}
.search_box input[type="search"] {
  background-color: transparent;
  border: none;
  text-align: center;
}
.search_box input[type="search"]::placeholder {
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
}

.properties_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  margin: 2rem auto;
  gap: 1.2vw;
}
.properties_card {
  min-width: 300px;
  color: #1e136d;
  box-shadow: 0px 6px 14px 1px rgba(0, 0, 0, 0.25);
}
.properties__card_img {
  width: 100%;
  height: 20vw;
  min-height: 200px;
}
.properties__card_img img {
  width: 100%;
  height: 100%;
}
.properties__card_details {
  display: flex;
  flex-direction: column;
  gap: 0.6vw;
  padding: 0.8vw;
}
.properties__card_details_title {
  font-size: 20px;
  font-weight: 500;
}
.location {
  display: flex;
  align-items: center;
  gap: 0.4vw;
}
.size_price {
  display: flex;
  flex-direction: column;
}
.prop_spec {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.prop_spec img {
  width: 20px;
  height: 20px;
}
.prop_price {
  align-self: flex-end;
}
.pagination_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter_search {
  display: none;
  position: relative;
}
.filter_button {
  /* background-color: #1e136d; */
  align-self: flex-end;
}

@media screen and (max-width: 1100px) {
  .search_container {
    display: none;
  }

  .banner_title {
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    color: white;
  }
  .filter_search {
    position: absolute;
    top: 0;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.27);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    left: 0;
    right: 0;
    margin: 0.6vw;
  }
}

@media screen and (max-width: 1024px) {
  .properties_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .properties_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .properties_card {
    width: 300px;
  }
}
@media screen and (max-width: 375px) {
  .filter_search {
    height: 50px;
    display: flex;
    align-items: center;
  }
}
